*{
  margin: 0;
  padding: 0;
}

body
{
  background-color: #F2F2F2;

}

header 
{
  background-color: #ffffff;
  padding: 2%;
  text-align: center;
  color: rgb(253, 92, 28);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
}
article
{
  margin: 20px 10px;
  padding: 20px;
  background-color: #ffffff;
}
div.container
{
  width: 50%;
  margin: 0px auto;

}
div.container h2
{
  font-size: 35px; 
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
div.container small
{
  font-size: 12px;
  color: #21cabc;
}
section.articl-head
{
   border-bottom: 2px solid #F2F2F2;
}
section.article-content 
{
  border-bottom: 2px solid #F2F2F2;
  padding: 20px;
}
section.article-foot span
{
  display: block;
  font-size: 10px;
  padding: 5px;
  margin-left: 2%;
}
section.article-foot::first-line
{
  color: #ff6348;
}
section.article-foot:last-child
{
  color: #21cabc;

}
footer.foot
{
  text-align: center;
  color: #af7c73;
    margin: 2%;
}
footer.foot span
{
  color: #82b8b3;
}